/node_modules
/public/hot
/public/storage
/public/mampinstaller
/storage/*.key
/vendor
.idea
.env
.idea
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.php_cs.cache
composer.lock
