body {
    font-family: 'Nunito Sans', sans-serif;
    color: #212529;
    font-size: 1rem;
}

a {
    cursor: pointer;
    color: #212529;
}

a:hover {
    text-decoration: none;
}

h1 {
    font-size: 1.6rem;
    font-weight: 700;
    color: #212529;
}

h2 {
    font-size: 1.4rem;
    font-weight: 700;
    color: #212529;
}

h3 {
    font-size: 1.2rem;
    font-weight: 700;
    color: #212529;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: 700;
}

#app {
    position: relative;
    min-height: 100vh;
    padding-bottom: 50px;
}

@media (max-width: 768px) {
    #app {
        padding-bottom: 150px;
    }
}

.content-wrap {
    padding-bottom: 50px;
}

/* Main */

#main .icon,
#main .posts-count {
    text-align: center;
}

/* Footer */

#footer {
    position: absolute;
    min-height: 50px;
    bottom: 0;
    width: 100%;
   
}

#footer a:hover {
    background: rgba(255,255,255,0.2);
    
}

/* Search */

#search-results {
    position: absolute;
    background-color: white;
    z-index: 999;
    border: 1px solid;
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.15);
    width: 90%;
}

#search-results ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#search-results ul h5 {
    margin-top: 1rem;
}
#search-results .opensearch-inner {
    overflow-y: scroll;
    max-height: 80vh;
}

.disabled-reply {
    min-height: 150px;
}

/* Replies */

.reply {
}

.reply-info {
}

